<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270206624365-7b11cpgkc7e22m629o0ls9c5jhjv8mse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270206624365-7b11cpgkc7e22m629o0ls9c5jhjv8mse</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>270206624365-49pgd92e37j3a6tlu7ot0ttc681t0bev.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvf4TkPL0ssxUz2CCzPWPx8uFSLJ1tTjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>270206624365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibloov.app</string>
	<key>PROJECT_ID</key>
	<string>ibloov-ccf4a</string>
	<key>STORAGE_BUCKET</key>
	<string>ibloov-ccf4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270206624365:ios:e79f45d920aa7046675564</string>
</dict>
</plist>